.h2-centrado{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 24px;
    color: #2c6b6b;
    padding: 30px;
    margin: 0;
  }
  
  .register-button {
    width: 100% !important;  /* Asegura que el botón ocupe todo el ancho disponible */
    background-color: #00796b !important;
    color: #ffffff !important;
    font-weight: bold !important;
    border: none !important;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    padding: 12px 0 !important; /* Asegura que el botón tenga una altura apropiada */
    font-size: 1em !important;  /* Ajustar el tamaño de fuente */
    display: block;
    margin-top: 16px;
    box-sizing: border-box; /* Incluye el padding dentro del tamaño total */
}

.modal-image-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.expedientes-container {
  padding: 20px;
}

.data-grid-container {
  margin: 20px 0;
}

.h2-centrado-ex {
  text-align: center;
  color: #ea3c3c;
    font-family: 'Poppins';
    font-weight: 600;

}
