@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600&display=swap');

.h-wrapper{
    background: linear-gradient(to right, #2c6b6b, #3f8e8e);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    color: white;
}

.h-menu{
    gap: 2rem;
}

.h-menu>*:hover{
    cursor: pointer;
}

.h-container{
    justify-content: space-between;
    padding-bottom: 1rem;
    padding-top: 1rem;
    padding-left: 15rem;
    padding-right:15rem;
}

.hero-wrapper{
    color: white;
    position: absolute;
    top: 11.5%;
    left: 0;
    width: 100%;
    padding-bottom: 2rem;
    background: linear-gradient(to right, #2c6b6b, #3f8e8e);
}

.hero-container{
    justify-content: space-between;
    align-items: flex-end;
}

/*izquierda*/
.hero-left{
   gap: 3rem;
}

.hero-title{
    position: relative;
    z-index: 1;
    left: 15%;
    top: -30%;
}

.hero-title>h1{
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 3.8rem;
    line-height: 4rem;
}

.hero-description{
    position: relative;
    left: 15%;
    font-size: large;
}

.h-button{
    position: relative;
    left: 15%;
  }

.red-circle{
    height: 4rem;
    width: 4rem;
    background: linear-gradient(to right, #ea3c3c, #f76d6d);
    border-radius: 999px;
    position: absolute;
    right: 12%;
    top: -10%;
    z-index: -1;

}

/*derecha*/
.hero-right{
    padding-right: 8%;
}

.image-container{
    width: 30rem;
    height: 35rem;
    overflow: hidden;
    border-radius: 15rem 15rem 0 0;
    border: 2px solid #ea3c3c;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.image-container>img{
    width: 100%;
    height: 100%;
}

/*SERVICIOS*/
.s-head{
    margin-bottom: 2rem;
}