@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600&display=swap');

body {
    font-family: 'Nunito', sans-serif;
}

.body{
    width: 100%;
    left: 0;
    top: 0;
    position: absolute;
    background: #f0ffff;
    height: 400px;
}

.bannerImage-container {
    width: 58%;
    height: 100%;   
    position: absolute; 
    top: 0;
    border-top-right-radius: 100%;
    border-bottom-right-radius: 100%;
    background: #2c6b6b;
    align-items: left;
}

.banner {
    width: auto;
    height: 400px; 
}

.texto h1{
    font-family: 'Nunito';
    size: 50;
    color: red;
    right: 0;
}