@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600&display=swap');

.h-wrapper{
    background: linear-gradient(to right, #2c6b6b, #3f8e8e);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    color: white;
}

.h-menu{
    gap: 2rem;
}

.h-menu>*:hover{
    cursor: pointer;
}

.h-container{
    justify-content: space-between;
    padding-bottom: 1rem;
    padding-top: 1rem;
    padding-left: 15rem;
    padding-right:15rem;
}

.text1{
    font-family: 'Poppins';
    font-weight: 600;
    text-decoration: none;
}

.hero-wrapper{
    color: white;
    position: absolute;
    top: 11.5%;
    left: 0;
    width: 100%;
    padding-bottom: 2rem;
    background: linear-gradient(to right, #2c6b6b, #3f8e8e);
}

.hero-container{
    justify-content: space-between;
    align-items: flex-end;
}

/*izquierda*/
.hero-left{
   gap: 3rem;
}

.hero-title{
    position: relative;
    z-index: 1;
    left: 15%;
    top: -30%;
}

.hero-title>h1{
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 3.8rem;
    line-height: 4rem;
}

.hero-description{
    position: relative;
    left: 15%;
    font-size: large;
}

.h-button{
    position: relative;
    left: 15%;
  }

.red-circle{
    height: 4rem;
    width: 4rem;
    background: linear-gradient(to right, #ea3c3c, #f76d6d);
    border-radius: 999px;
    position: absolute;
    right: 12%;
    top: -10%;
    z-index: -1;

}

/*derecha*/
.hero-right{
    padding-right: 8%;
}

.image-container{
    width: 30rem;
    height: 35rem;
    overflow: hidden;
    border-radius: 15rem 15rem 0 0;
    border: 2px solid #ea3c3c;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.image-container>img{
    width: 100%;
    height: 100%;
}

/*SERVICIOS*/
.s-wrapper{
    background: #f0ffff;
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
}

.s-head{
    margin-bottom: 2rem;
    position: relative;
    left: 7%;
}

.s-head>h1{
    color: #ea3c3c;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 2rem;
    line-height: 4rem;
}

.primaryText{
    color: #ea3c3c;
    font-family: 'Poppins';
    font-weight: 600;
}

.secondaryText{
    color: #343434;
    font-family: 'Nunito';
    font-size: 0.9rem;
}

.s-container{
    position: relative;
    overflow: hidden;
}

.s-card{
    gap: 0.6rem;
    padding: 1rem;
    border-radius: 10px;
    max-width: 20rem;
    margin: auto;
    transition: all 300ms ease-in;
}

.s-card>img{
    width: 100%;
    max-width: 20rem;
    border-radius: 10px;
}

.s-card:hover{
    scale: 1.025;
    cursor: pointer;
    background : linear-gradient(to bottom, #f0ffff, #ffff);
    box-shadow: 5px 5px 10px #2c6b6b;
}

.swiper-horizontal{
    overflow: visible;
}

.s-button{
    position: absolute;
    gap: 1rem;
    top: -4rem;
    right: -0;
}

.s-button button{
    font-size: 1.2rem;
    padding: 0.2rem 0.8rem;
    color: #ea3c3c;
    border: none;
    border-radius: 5px;
    background-color: #f0ffff;
    cursor:pointer;
}

.s-button button:hover{
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    scale: 1.025;
    cursor: pointer;
}

.sc-button{
    position: relative;
    justify-content: center;
    width: 100%;
}

.c-button{
    padding: 0.6rem 1.4rem;
    color: white;
    background: #ea3c3c;
    border: none;
    border-radius: 4px;
    transition: all 300ms ease-in;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    width: 300px;
    height: 50px;
    font-size: large;
    font-weight: 600;
    position: relative;
    left: 40%;
}

.c-button:hover{
    cursor: pointer;
    transform: scale(1.1);
  }

.v-wrapper{
    color: white;
    position: absolute;
    top: 182%;
    left: 0;
    width: 100%;
    padding-bottom: 2rem;
    background: #f0ffff;
}

.v-image-container{
    width: 30rem;
    height: 35rem;
    overflow: hidden;
    border-radius: 15rem 15rem 0 0;
    border: 2px solid #2c6b6b;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.v-image-container>img{
    width: 100%;
    height: 100%;
}

.v-title{
    color: #2c6b6b;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 2rem;
}

.v-text{
    color: #343434;
    font-family: 'Nunito';
    font-size: 1rem;
}

.v-container{
    justify-content: space-between;
    align-items: flex-end;
}

.v-container>div{
   flex: 1;
}

.v.right{
    gap: 0.5rem;
}

.accordion{
    margin-top: 2rem;
    border: none;
}

.accordionItem{
    border: 0.1px solid #2c6b6b;
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.accordionButton{
    background: white;
    padding: 1rem;
    width: 100%;
    justify-content: space-between;
    cursor: pointer;
}

.icon{
   padding: 10px;
   background: #2c6b6b;
   border-radius: 5px;
   color: #f0ffff;
}

.accordionButton .v-title{
    font-size: 1.1rem;
}

.g-title{
    color: white;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 2rem;
}

.g-text{
    color: #f0ffff;
    font-family: 'Nunito';
    font-weight: 400;
    font-size: 1rem;
}

.g-wrapper{
    color: #f0ffff;
    position: absolute;
    top: 270%;
    left: 0;
    width: 100%;
    padding-bottom: 2rem;
    background: #f0ffff;
}

.inner-container{
    gap: 1.5rem;
    background: linear-gradient(to left, #ea3c3c, #ec5a5a);
    padding: 2rem;
    border-radius: 10px;
    text-align: center;
}

.inner-container .button{
    color: #ea3c3c;
}

.f-wrapper{
    position: absolute;
    top: 310%;
    left: 0;
    width: 100%;
    background: #f0ffff;
}

.f-container{
    justify-content: space-between;
}

.f-text{
    color: #2c6b6b;
    font-family: 'Nunito';
    font-size: 1rem;
    font-weight: 500;
}