body {
  font-family: Arial, sans-serif;
  background-color: #f0ffff !important;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.register-pet-container {
  width: 90%;
  max-width: 500px;
  max-height: 90vh; 
  overflow-y: auto;  
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
}
  
.register-pet-header {
  text-align: center;
  background-color: #e0f7fa;
  padding: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-size: contain;
  background-position: center top;
  background-repeat: no-repeat;
  padding-top: 10px; 
}
  
  .register-pet-header .logo {
    max-width: 100px;
    height: auto;
    object-fit: contain;
    display: block;
  }
  
  .register-pet-header h1 {
    color: #00796b;
    margin: 10px 0 5px 0;
  }
  
  .register-pet-header p {
    color: #004d40;
    font-size: 1em;
    margin-top: 5px;
  }
  
  .register-pet-form {
    padding: 10px;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
  }
  
  .register-pet-form label {
    color: #333;
    font-weight: bold;
  }
  
  .register-pet-form input,
  .register-pet-form select,
  .register-pet-form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
  }
  
  .register-pet-form textarea {
    resize: vertical;
  }
  
  .register-button {
    width: 100% !important;
    background-color: #00796b!important;
    color: #ffffff !important;
    font-weight: bold !important;
    border: none !important;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    padding: 8px !important;
    font-size: 0.9em !important;
  }
  
  
  .register-button:hover {
    background-color:#085a50 !important;
  }    

  /* Estilos de la barra de desplazamiento*/
.register-pet-container::-webkit-scrollbar {
  width: 8px !important;
}

.register-pet-container::-webkit-scrollbar-track {
  background: #f1f1f1 !important;
  border-radius: 10px !important;
}

.register-pet-container::-webkit-scrollbar-thumb {
  background: #00796b !important;
  border-radius: 10px !important;
}

.register-pet-container::-webkit-scrollbar-thumb:hover {
  background: #559890 !important;
}